form {
	display: flex;
	flex-direction: column;
}

form input {
	width: 20em;
	padding: 0.5rem;
	font-size: 1.2rem;
	text-align: center;
	margin: 1rem auto;
}

.small {
	font-size: 1rem;
}

.large {
	font-size: 1.4rem;
}
