/* imports */
@import "./Components/PokemonCard/card.css";
@import "./Components/PokemonType/type.css";

:root {
	--red: #ff0000;
	--darkRed: #cc0000;
	--blue: #3b4cca;
	--yellowGold: #ffde00;
	--gold: #b3a125;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
